body{
 margin:0;
  padding:0;
  box-sizing: border-box;
 width:100%;
 min-height: 100vh;
 background-image: url(bg55.jpg);
 background-position: center;
 background-size: cover;
}

.navbar {
  min-height: 80px;
  background-color: #fbdcad;
  border-radius: 0px;
}

.content{
 margin-top: 10%;
 max-width: 600px; 
 color: #8b6076;
 font-family: Georgia, 'Times New Roman', Times, serif;
 margin: 10px 0 30px;
}

h2{
  font-size: larger;
  font-style: oblique;
  font-size: 70px;
  color: #e6637f;
 }
 
 
.content .btn{
 padding: 15px 80px;
 font-size:16px;
 background-color: #fbdcad;
 color: #e6637f;
}

.home-img{
 width: 530px;
 position: absolute;
 bottom: 0;
 right: 10%;
}


  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a { background-color: #e6637f;}

.navbar-brand>img
{height: 80px;}


.navbar-brand>img
{height: 80px;}

.panel {
  position: relative;
  left: 0;
}
