body {
    font-family: Arial, sans-serif;
    background-image: url(blog2.jpg); 
 }
  
  .container {
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  p {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 20px;
  }
  
  .checkout-btn,
  .order-btn {
    padding: 10px;
    background-color: #ffcc00;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 10px;
  }
  
  .order-btn {
    background-color: #ff3366;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .coffee-image {
    width: 200px;
    margin-right: 20px;
  }
  
  .coffee-details {
    flex-grow: 1;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }