/* style.css */
body {
  background-image: url(blog2.jpg);
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  .container {
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }